<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492876542608-epbm3o480nqnmr3p3v8s3o69p7jgnq9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492876542608-epbm3o480nqnmr3p3v8s3o69p7jgnq9j</string>
	<key>API_KEY</key>
	<string>AIzaSyAxg-FeyArvrbd8TXRVL9xHX2SK6t5p1zs</string>
	<key>GCM_SENDER_ID</key>
	<string>492876542608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleauth</string>
	<key>PROJECT_ID</key>
	<string>workwithfirebase-b0656</string>
	<key>STORAGE_BUCKET</key>
	<string>workwithfirebase-b0656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492876542608:ios:6188ab8ab828530c9d9e15</string>
</dict>
</plist>